# Terraform files
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Directories
.terraform/
.terraform.lock.hcl

# IDE
.idea/
*.swp
*.swo
*~
.DS_Store
.vscode/
*.iml

# Logging
*.log

# Plan files
*.tfplan
